.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 12px;
}

.main {
  .word {
    align-items: center;
    background: $pink;
    color: #fff;
    border-bottom: 1px solid $pink-hover;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    padding: 32px 16px;
    margin-bottom: 32px;
    min-height: 110px;

    &-letter {
      align-items: center;
      background: $black;
      border-bottom: 2px solid $white;
      border-radius: 4px 4px 0 0;
      display: flex;
      font-size: 22px;
      height: 46px;
      justify-content: center;
      width: 46px;

      & + .word-letter {
        margin-left: 8px;
      }

      &.none {
        background: $pink;
        border: none;
        box-shadow: none;
      }
    }
  }

  .actions {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1.3fr 1fr;

    &-left {
      border-radius: 4px;
      padding: 16px;
      border: solid $pink 2px;

      h2 {
        font-size: 18px;
        margin-bottom: 16px;
        text-transform: uppercase;
        color: $white;
      }

      .keyboard {
        display: flex;
        flex-wrap: wrap;
        max-width: 550px;
        margin-left: -4px;

        button {
          background: #ece7c9;
          border: 2px solid #ece7c9;
          border-radius: 4px;
          color: #222;
          height: 42px;
          font-size: 20px;
          transition: 0.3s;
          margin: 4px;
          text-transform: uppercase;
          width: 42px;

          &:disabled,
          &:disabled:hover {
            background: #bbb;
            color: #797979;
            border-color: #bbb;
          }

          &:hover {
            background: $pink-hover;
            border-color: $pink-hover;
            color: #fff;
          }
        }
      }
    }

    &-right {
      background: $pink;
      padding: 16px;
    }
  }
}

.word-modal {
  img {
    display: block;
    margin: 8px auto 6px;
  }

  form {
    width: 100%;
  }
}

.life {
  display: flex;

  i {
    & + i {
      margin-left: 5px;
    }
  }
}
