.container {
  margin: 0 auto;
  max-width: 1600px;
}

.padding-x {
  padding-left: 2%;
  padding-right: 2%;
}

.padding-y {
  padding-bottom: 1%;
  padding-top: 1%;
}

.row {
  position: relative;
  width: 100%;
}

.btn {
  background: #f42c37;
  border-radius: 100px;
  color: #fff;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 19px;
  padding: 16px 35px;
  text-transform: capitalize;
  text-shadow: 0 0 10px transparent;
}

.header {
  &-left {
    align-items: center;
    display: flex;

    img {
      margin-right: 68px;
    }
  }

  &-right {
    a {
      color: #000 !important;
    }
  }

  .row {
    align-items: center;
    display: flex;
    height: 63px;
    justify-content: space-between;
  }

  ul {
    align-items: center;
    display: flex;

    li {
      &:nth-child(1) {
        a {
          padding-left: 0;
        }
      }
    }

    a {
      color: #00000066;
      padding: 12px 21px;

      &.active {
        color: #000;
      }
    }
  }
}
