*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  text-rendering: optimizelegibility;
  font-weight: 500;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

@keyframes toOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes toTop {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes animaMainBanner {
  from {
    opacity: 0;
    transform: scale(1.1);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes animaProductsHomeToRight {
  from {
    opacity: 0;
    transform: translateX(-75px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes animaProductsHomeToLeft {
  from {
    opacity: 0;
    transform: translateX(75px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container {
  margin: 0 auto;
  max-width: 1600px;
}

.padding-x {
  padding-left: 2%;
  padding-right: 2%;
}

.padding-y {
  padding-bottom: 1%;
  padding-top: 1%;
}

.row {
  position: relative;
  width: 100%;
}

.btn {
  background: #f42c37;
  border-radius: 100px;
  color: #fff;
  font-size: 15px;
  letter-spacing: -0.5px;
  line-height: 19px;
  padding: 16px 35px;
  text-transform: capitalize;
  text-shadow: 0 0 10px transparent;
}

.header-left {
  align-items: center;
  display: flex;
}

.header-left img {
  margin-right: 68px;
}

.header-right a {
  color: #000 !important;
}

.header .row {
  align-items: center;
  display: flex;
  height: 63px;
  justify-content: space-between;
}

.header ul {
  align-items: center;
  display: flex;
}

.header ul li:nth-child(1) a {
  padding-left: 0;
}

.header ul a {
  color: #00000066;
  padding: 12px 21px;
}

.header ul a.active {
  color: #000;
}

.home-main-content img {
  animation: toOpacity 1s forwards;
  animation-delay: 1s;
  margin-top: -10px;
  opacity: 0;
  padding: 74px 74px 0px 74px;
  z-index: 99;
}

.home-main-content .home-main-content-title {
  animation: animaMainBanner 1s forwards ease-in-out;
  align-items: flex-start;
  background-image: linear-gradient(105deg, #dcdcdc 54%, #eee 68%);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 17.5% 0 7% 9.5%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.home-main-content .home-main-content-title h3 {
  animation: toTop forwards ease 1.3s;
  animation-delay: 0.8s;
  color: #000;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: -1.3px;
  opacity: 0;
  transition: all 0.25s ease-out;
}

.home-main-content .home-main-content-title h3 span {
  display: block;
  font-size: 80px;
  font-weight: 700;
  line-height: 120px;
  letter-spacing: -2px;
}

.home-main-content .home-main-content-title h2 {
  animation: toTop forwards ease 1.3s;
  animation-delay: 1s;
  color: #fff;
  font-size: 194px;
  font-weight: 900;
  letter-spacing: -2.9px;
  line-height: 140px;
  margin-left: -10px;
  margin-top: 6px;
  opacity: 0;
  text-transform: uppercase;
}

.home-main-content .home-main-content-title a.btn {
  animation: toTop forwards ease 1.3s;
  animation-delay: 1.3s;
  margin-top: 30px;
  opacity: 0;
}

.home-main-content .home-main-content-description {
  animation: toOpacity 1s forwards;
  animation-delay: 1.7s;
  position: absolute;
  top: 67%;
  right: 0;
  text-align: right;
  max-width: 420px;
  opacity: 0;
  padding-right: 136px;
}

.home-main-content .home-main-content-description h2 {
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  margin-bottom: 8px;
}

.home-main-content .home-main-content-description p {
  color: #00000099;
  font-size: 15px;
  line-height: 23px;
  font-weight: 400;
}

.home-products-grid {
  display: grid;
  grid-gap: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-top: 40px;
}

.home-products-box {
  animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1) !important;
  animation-fill-mode: both !important;
  background: #c1c1c1;
  border-radius: 25px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  opacity: 0;
  position: relative;
}

.home-products-box.box-large div {
  padding-left: 12%;
}

.home-products-box.box-large div h3 {
  font-size: 65px;
}

.home-products-box:nth-child(1), .home-products-box:nth-child(2), .home-products-box:nth-child(3) {
  height: 404px;
}

.home-products-box:nth-child(4), .home-products-box:nth-child(5), .home-products-box:nth-child(6) {
  height: 389px;
}

.home-products-box:nth-child(1) {
  animation: animaProductsHomeToLeft 1s;
  background-image: linear-gradient(300deg, #363636 13%, #222 38%);
  opacity: 0;
}

.home-products-box:nth-child(1) h3 {
  color: #444;
}

.home-products-box:nth-child(1) img {
  bottom: 0;
}

.home-products-box:nth-child(2) {
  animation: animaProductsHomeToLeft 1s;
  animation-delay: 0.15s;
  background-image: radial-gradient(at center center, #fec62e 0%, #fec62e 100%);
}

.home-products-box:nth-child(2) img {
  right: -82px;
  top: 36px;
}

.home-products-box:nth-child(2) h3 {
  color: #ffd76a;
}

.home-products-box:nth-child(2) a.btn-edit {
  background: #fff;
  color: #fec62e;
}

.home-products-box:nth-child(3) {
  animation: animaProductsHomeToLeft 1s;
  animation-delay: 0.3s;
  background-image: linear-gradient(90deg, #f42c37 61%, #ff4e59 100%);
  grid-column: 3/5;
}

.home-products-box:nth-child(3) img {
  right: -66px;
}

.home-products-box:nth-child(3) h3 {
  color: #f6565f;
}

.home-products-box:nth-child(3) a.btn {
  background: #fff;
  color: #f42c37;
}

.home-products-box:nth-child(4) {
  animation: animaProductsHomeToRight 1s;
  animation-delay: 0.3s;
  background-image: linear-gradient(180deg, #d4d4d4 0%, #eef0f3 100%);
  grid-column: 1/3;
}

.home-products-box:nth-child(4) img {
  right: 60px;
  top: 40px;
}

.home-products-box:nth-child(4) div {
  bottom: auto;
  top: 95px;
}

.home-products-box:nth-child(4) h4 {
  color: #000;
}

.home-products-box:nth-child(4) h3 {
  color: #fff;
}

.home-products-box:nth-child(5) {
  animation: animaProductsHomeToRight 1s;
  animation-delay: 0.15s;
  background-color: #2dd06f;
  grid-column: 3/4;
  overflow: hidden;
}

.home-products-box:nth-child(5) div {
  top: 40px;
}

.home-products-box:nth-child(5) img {
  bottom: 0;
  min-width: 520px;
  right: -104px;
}

.home-products-box:nth-child(5) h3 {
  color: #57d68b;
}

.home-products-box:nth-child(5) a.btn {
  background: #fff;
  color: #2dd06f;
}

.home-products-box:nth-child(6) {
  animation: animaProductsHomeToRight 1s;
  background-image: linear-gradient(180deg, #1478ff 0%, #1891ff 100%);
  overflow: hidden;
}

.home-products-box:nth-child(6) img {
  bottom: -45px;
  max-width: 100%;
  min-width: 420px;
  right: -58px;
}

.home-products-box:nth-child(6) div {
  top: 40px;
}

.home-products-box:nth-child(6) h4 {
  color: #fff;
}

.home-products-box:nth-child(6) h3 {
  color: #3a98ff;
}

.home-products-box:nth-child(6) a.btn {
  background: #fff;
  color: #1478ff;
}

.home-products-box img {
  position: absolute;
  z-index: 99;
}

.home-products-box div {
  align-items: flex-start;
  bottom: 13.2%;
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  position: absolute;
}

.home-products-box div h4 {
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: -0.4px;
  line-height: 1.5;
}

.home-products-box div h4 span {
  font-size: 30px;
  font-weight: 600;
  display: block;
}

.home-products-box div h3 {
  font-size: 50px;
  font-weight: 900;
  line-height: 37px;
  margin-bottom: 24px;
  margin-top: 12px;
  text-transform: uppercase;
}

.home-products-box div .btn-edit {
  padding: 10px 30px;
  z-index: 999;
}

@media only screen and (min-width: 1025px) and (max-width: 1679px) {
  .home-main-content .home-main-content-title h2 {
    font-size: 11.5vw;
  }
}
