*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #f7f7f7;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button[type='submit'] {
  background: #17c717;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  height: 42px;
  margin-top: 20px;
  transition: 0.3s;
  text-transform: uppercase;
  width: 100%;
}

button[type='submit']:hover, button[type='submit']:focus {
  background: #0fad0f;
}

input {
  border: solid 1.5px;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  height: 42px;
  margin: 4px 0 14px;
  padding: 12px 6px;
  width: 100%;
}

.title-modal {
  font-size: 16px;
  text-transform: uppercase;
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 12px;
}

.header {
  color: #fff;
  padding: 16px 0;
  margin-bottom: 64px;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-left {
  margin-right: 32px;
}

.header-left .btn-menu {
  align-items: center;
  background: #4587ff;
  border: none;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 50px;
  transition: 0.3s;
  width: 50px;
}

.header-left .btn-menu:hover {
  background: #3077f9;
}

.header-left .btn-menu span {
  background: #fff;
  height: 3px;
  display: block;
  width: 24px;
}

.header-left .btn-menu span + span {
  margin-top: 5px;
}

.header-right {
  align-items: flex-start;
  background: #4587ff;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 4px;
  flex: 1;
}

.header-right div:nth-child(2) {
  text-align: right;
}

.header h1 {
  font-size: 18px;
  text-transform: uppercase;
}

.header h1 span {
  color: #fc6;
}

.header p:not(:first-child) {
  margin-top: 8px;
}

.header p b {
  text-transform: uppercase;
}

.main .word {
  align-items: center;
  background: #eaeaea;
  color: #666;
  border-bottom: 1px solid #b1b1b1;
  border-radius: 4px;
  box-shadow: 0px 0px 4px #dedede;
  display: flex;
  justify-content: center;
  padding: 32px 16px;
  margin-bottom: 32px;
  min-height: 110px;
}

.main .word-letter {
  align-items: center;
  background: #fff;
  border-bottom: 2px solid #4587ff;
  border-radius: 4px 4px 0 0;
  box-shadow: 0px 0px 4px #dedede;
  display: flex;
  font-size: 22px;
  justify-content: center;
  height: 46px;
  width: 46px;
}

.main .word-letter + .word-letter {
  margin-left: 8px;
}

.main .word-letter.none {
  background: #eaeaea;
  border: none;
  box-shadow: none;
}

.main .actions {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1.3fr 1fr;
}

.main .actions-left h2 {
  font-size: 18px;
  margin-bottom: 16px;
  text-transform: uppercase;
}

.main .actions-left .keyboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin-left: -4px;
}

.main .actions-left .keyboard button {
  background: #4587ff;
  border: 2px solid #4587ff;
  border-radius: 4px;
  color: #fff;
  height: 42px;
  font-size: 20px;
  transition: 0.3s;
  margin: 4px;
  text-transform: uppercase;
  width: 42px;
}

.main .actions-left .keyboard button:disabled, .main .actions-left .keyboard button:disabled:hover {
  background: #bbb;
  color: #797979;
  border-color: #bbb;
}

.main .actions-left .keyboard button:hover {
  background: #3077f9;
  border-color: #3077f9;
}

.word-modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.word-modal-content {
  animation: toRight forwards 0.3s;
  animation-delay: 0.3s;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  display: flex;
  height: 440px;
  justify-content: center;
  opacity: 0;
  padding: 32px 22px;
  width: 460px;
}

.word-modal-content form {
  width: 100%;
}
