*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

body {
  background: #f26957;
  color: #666;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

button[type='submit'] {
  background: #17c717;
  border: none;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  height: 42px;
  margin-top: 20px;
  transition: 0.3s;
  text-transform: uppercase;
  width: 100%;
}

button[type='submit']:hover, button[type='submit']:focus {
  background: #0fad0f;
}

input {
  border: solid 1.5px;
  border-radius: 2px;
  display: block;
  font-size: 16px;
  height: 42px;
  margin: 4px 0 14px;
  padding: 12px 6px;
  width: 100%;
}

.title-modal {
  color: #333;
  font-size: 16px;
  text-transform: uppercase;
}

@keyframes toRight {
  from {
    opacity: 0;
    transform: translateX(-30px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.modal {
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  height: 100%;
  justify-content: center;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal-content {
  animation: toRight forwards 0.3s;
  animation-delay: 0.3s;
  align-items: center;
  background: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 440px;
  justify-content: center;
  opacity: 0;
  padding: 32px 22px;
  width: 460px;
}

.modal-content h2 {
  position: absolute;
  top: 32px;
  text-transform: uppercase;
  color: #333;
}

.modal .btn-close {
  background: #e24f47;
  border: solid 2px #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 2px #e24f47;
  color: #fff;
  font-size: 22px;
  height: 50px;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 50px;
}

.conclued-modal {
  display: none;
}

.conclued-modal.active {
  display: flex;
}

.conclued-modal h3 {
  color: #333;
  font-size: 24px;
  text-transform: uppercase;
}

.conclued-modal img {
  margin-bottom: 32px;
}

.fa-heart {
  font-size: 30px;
  color: #fff;
}

.header {
  color: #fff;
  padding: 16px 0;
  margin-bottom: 64px;
}

.header-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.header-left {
  margin-right: 32px;
  position: relative;
}

.header-left nav {
  background: #333;
  border-radius: 5px;
  display: none;
  padding: 22px 12px;
  position: absolute;
  left: 0;
  width: 130px;
}

.header-left nav.active {
  animation: animaMenu 0.3s forwards;
  display: block;
}

@keyframes animaMenu {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.header-left nav::before {
  content: '';
  border-bottom: 10px solid #333;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  display: block;
  height: 0;
  position: absolute;
  top: -10px;
  left: 15px;
  width: 0;
}

.header-left nav li + li {
  margin-top: 22px;
}

.header-left nav a {
  color: #fff;
}

.header-left .btn-menu {
  align-items: center;
  background: #e24f47;
  border: none;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 50px;
  transition: 0.3s;
  width: 50px;
}

.header-left .btn-menu.active {
  background: #333;
}

.header-left .btn-menu.active span:nth-child(1) {
  transform: rotate(45deg);
}

.header-left .btn-menu.active span:nth-child(2) {
  display: none;
}

.header-left .btn-menu.active span:nth-child(3) {
  margin-top: -3px;
  transform: rotate(-45deg);
}

.header-left .btn-menu:hover {
  background: #333;
}

.header-left .btn-menu span {
  background: #fff;
  height: 3px;
  display: block;
  transition: 0.3s;
  width: 24px;
}

.header-left .btn-menu span + span {
  margin-top: 5px;
}

.header-right {
  align-items: flex-start;
  background: #e24f47;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 4px;
  flex: 1;
}

.header-right div:nth-child(2) {
  text-align: right;
}

.header h1 {
  font-size: 18px;
  text-transform: uppercase;
}

.header h1 span {
  color: #fc6;
}

.header p:not(:first-child) {
  margin-top: 8px;
}

.header p b {
  text-transform: uppercase;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 12px;
}

.main .word {
  align-items: center;
  background: #e24f47;
  color: #fff;
  border-bottom: 1px solid #bd3f38;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  padding: 32px 16px;
  margin-bottom: 32px;
  min-height: 110px;
}

.main .word-letter {
  align-items: center;
  background: #333;
  border-bottom: 2px solid #fff;
  border-radius: 4px 4px 0 0;
  display: flex;
  font-size: 22px;
  height: 46px;
  justify-content: center;
  width: 46px;
}

.main .word-letter + .word-letter {
  margin-left: 8px;
}

.main .word-letter.none {
  background: #e24f47;
  border: none;
  box-shadow: none;
}

.main .actions {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1.3fr 1fr;
}

.main .actions-left {
  border-radius: 4px;
  padding: 16px;
  border: solid #e24f47 2px;
}

.main .actions-left h2 {
  font-size: 18px;
  margin-bottom: 16px;
  text-transform: uppercase;
  color: #fff;
}

.main .actions-left .keyboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 550px;
  margin-left: -4px;
}

.main .actions-left .keyboard button {
  background: #ece7c9;
  border: 2px solid #ece7c9;
  border-radius: 4px;
  color: #222;
  height: 42px;
  font-size: 20px;
  transition: 0.3s;
  margin: 4px;
  text-transform: uppercase;
  width: 42px;
}

.main .actions-left .keyboard button:disabled, .main .actions-left .keyboard button:disabled:hover {
  background: #bbb;
  color: #797979;
  border-color: #bbb;
}

.main .actions-left .keyboard button:hover {
  background: #bd3f38;
  border-color: #bd3f38;
  color: #fff;
}

.main .actions-right {
  background: #e24f47;
  padding: 16px;
}

.word-modal form {
  width: 100%;
}

.life {
  display: flex;
}

.life i + i {
  margin-left: 5px;
}
